<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xiaoba.coach"
    android:versionCode="8"
    android:versionName="2.0.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="23"
        android:maxSdkVersion="23" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    
    <!-- 锁屏弹窗权限 -->
<!--     <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>  
	<uses-permission android:name="android.permission.WAKE_LOCK"/>   -->

    <!-- baidu -->
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- 个推 -->
    <uses-permission android:name="getui.permission.GetuiService.xiaoba.coach" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 自定义权限 -->
    <permission
        android:name="getui.permission.GetuiService.xiaoba.coach"
        android:protectionLevel="normal" >
    </permission>
    
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    
        <!-- ###################声明SDK使用的相关权限###################### -->
    <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />  
    <!-- 获取mac地址作为用户的备用唯一标识 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />     
    <!-- 获取用户手机的IMEI，用来唯一的标识用户 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />      
    <!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许应用程序联网，以便向我们的服务器端发送数据 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- QQ、QQ空间所需权限 -->
<uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name="xiaoba.coach.CoachApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
                <!-- ###################友盟 注册SDK使用的Activity###################### -->
        <!--分享编辑页-->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>

        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID-->
                <data android:scheme="tencent1104653815" /> 
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>



    <!-- ###################添加UmengAppkey###################### -->
        <meta-data            android:name="UMENG_APPKEY"            android:value="55aa05df67e58eb10e00758b" >        </meta-data>
        
        
        <meta-data            android:name="com.baidu.lbsapi.API_KEY"            android:value="rsMF1YYqLDXqOQM0NWRHwFxq" />
        
        <!-- 友盟统计 -->
        
        <meta-data android:value="55aa05df67e58eb10e00758b" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="Channel ID" android:name="UMENG_CHANNEL"/>
        

        <activity
            android:name=".activity.LoadingActivity_"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/BackgroundTheme"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegisteActivity_"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".activity.CreateAccountActivity_"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".activity.RelatedMaterialActivity_"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".activity.HomeActivity_"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".activity.ModifyPwdActivity_"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".activity.HistoryOrderActivity_"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".activity.CommentActivity_"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".activity.CommentDetailActivity_"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".activity.ClassTimeSetActivity_"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".activity.AccessActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.SelfMaterialActivity_"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.RechargeActivity_"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.AccountInfoActivity_"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ProQualityActivity_"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.PersonalInfoActivity_"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ModifyPassActivity_"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.SetActivity_"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.AdviceBackActivity_"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.AboutUsActivity_"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.NoticeActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.AddressSetActivity_"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.AddAddressActivity_"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.IncomeDetailActivity_"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.GetCashActivity_"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        
        <activity
            android:name=".activity.ActivityChangeName"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        
      <activity
            android:name=".activity.ActivityChoseCar"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
      <activity
            android:name=".activity.ActivitySendCoupon"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
      
            <activity
            android:name=".activity.ActivitySendHistory"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
           
           <activity
            android:name=".activity.ActivityMyPackage"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

           <activity
            android:name=".activity.ActivityMyTickets"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
           
       <activity
            android:name=".activity.ActivityCoachYear"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
       <activity
            android:name=".activity.ActivityCoachAboutSelf"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.AccountArrangeActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.CheckStudentActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ActivityGetAllCoupon"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ActivityMyStudent"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
         <activity
            android:name=".activity.ActivityDriveWithRelues"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ActivityChangePhone"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ActivityAdvertisementWeb"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.alipay.android.app.sdk.WapPayActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
         <activity
            android:name=".activity.LoginActivity_"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        
          <activity android:name=".activity.ActivityDateSet"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        
          <activity android:name=".activity.ActivityShare"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
           <activity android:name=".activity.ActivityRecordFragment"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
         	<activity android:name=".activity.MipcaActivityCapture"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
         	<activity android:name=".activity.ShowAdvertisement"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
         	<activity android:name=".activity.ActivityInputRecord"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
         	<activity android:name=".activity.ActivityMyCoin"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
         	<activity android:name=".activity.ActivityMyCoinsList"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
         	<activity android:name=".activity.ActivityCoachRules"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
         	<activity android:name=".activity.ActivityStarCoach"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
         	<activity android:name=".activity.FilteSchoolListView"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
         	<activity
   			android:name="wxapi.WXEntryActivity"
   			android:theme="@android:style/Theme.Translucent.NoTitleBar"
   			android:configChanges="keyboardHidden|orientation|screenSize"
   			android:exported="true"
   			android:screenOrientation="portrait" />
         
         <!-- 弹窗activity -->
<!--          <activity android:name=".activity.ShowHandleActivity"
             android:launchMode="singleInstance"  
          android:excludeFromRecents="true"  
          android:taskAffinity=""  
          android:theme="@android:style/Theme.Wallpaper.NoTitleBar"/> -->
        

        <!-- sdk -->
        <meta-data            android:name="PUSH_APPID"            android:value="ACWCLzCDrb7Y5MkA4XWtm4" /> <!-- APPID -->        <meta-data            android:name="PUSH_APPKEY"            android:value="davVrxDsKZ7xvCxbPedb41" /> <!-- APPKEY -->        <meta-data            android:name="PUSH_APPSECRET"            android:value="dOEWpUOWwC7ftkCqzaedr4" /> <!-- APPSECRET -->        <meta-data            android:name="PUSH_GROUPID"            android:value="" />

        <!-- 配置第三方Receiver -->

        <receiver
            android:name="xiaoba.coach.receivers.PushDemoReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.ACWCLzCDrb7Y5MkA4XWtm4" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="true"
            android:label="NotificationCenter"
            android:process=":pushservice" >
        </service>

        <receiver android:name="com.igexin.sdk.PushReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.igexin.sdk.action.refreshls" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.igexin.sdk.PushManagerReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.pushmanager" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <!-- activity -->
        <activity
            android:name="com.igexin.getuiext.activity.GetuiExtActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="android.task.myServicetask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name="com.igexin.getuiext.service.PayloadReceiver"
            android:exported="false" >
            <intent-filter>

                <!-- com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4 -->
                <action android:name="com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4" />
                <!-- android:name="com.igexin.sdk.action.appId" -->
                <action android:name="com.igexin.sdk.action.ACWCLzCDrb7Y5MkA4XWtm4" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.igexin.getuiext.service.GetuiExtService"
            android:process=":pushservice" />
        <!-- download -->
        <service
            android:name="com.igexin.download.DownloadService"
            android:process=":pushservice" />

        <receiver android:name="com.igexin.download.DownloadReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.igexin.download.DownloadProvider"
            android:authorities="downloads.xiaoba.coach"
            android:process=":pushservice" /> <!-- downloads. -->
        <!-- =========================================================================== -->
        <!-- TalkingData应用id -->
        <meta-data            android:name="TD_APP_ID"            android:value="B862B48A8BE7518336AFB3AE4A15F9FD" />
        <!-- 渠道 -->
        <meta-data            android:name="TD_CHANNEL_ID"            android:value="chengzhangbao_headquarters" />
        
         //环信
        <!-- 登陆 -->
        <activity
            android:name="com.easemob.helpdeskdemo.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" >
        </activity>

        <!-- 聊天页面 -->
         <activity
            android:name="com.easemob.helpdeskdemo.activity.ChatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <!-- 地图 -->
<!--         <activity
            android:name="com.easemob.helpdeskdemo.activity.BaiduMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" >
        </activity>  -->
        <!-- 自定义的contextmenu -->
        <activity
            android:name="com.easemob.helpdeskdemo.activity.ContextMenu"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <!-- 自定义的alertdialog -->
         <activity
            android:name="com.easemob.helpdeskdemo.activity.AlertDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <!-- 显示下载大图页面 -->
       <activity
            android:name="com.easemob.helpdeskdemo.activity.ShowBigImage"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" >
        </activity>

        <!-- choose video -->
        <activity
            android:name="com.easemob.helpdeskdemo.activity.ImageGridActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <!-- upload error log -->
        <activity
            android:name="com.easemob.helpdeskdemo.activity.DiagnoseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <!-- 设置环信应用的appkey -->
    	<meta-data android:name="EASEMOB_APPKEY"  android:value="xiaobaxueche#xiaobaxueche" />
        <!-- 声明sdk所需的service -->
        <service android:name="com.easemob.chat.EMChatService" />
    </application>

</manifest>
